.advantage {
min-height: 385px;
display: grid;
gap: 30px;
justify-items: center;
place-content: center;
padding: 20px;
grid-template-columns: 235px;
background-color: hsl(204deg 48% 67% / var(--bg-opacity, 12%));
color: hsl(0deg 0% var(--text-l, 20%));
}

.advantages__list--big .advantage::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: hsl(0deg 0% var(--text-l, 0%) / 30%);
}

.advantages__list--big .advantage__title {
  order: -1;
}

.advantage__title {
  margin: 0 auto;
  max-width: 13ch;
  text-transform: uppercase;
  color: hsl(0deg 0% var(--text-l, 0%));
}

.advantage__description {
  line-height: 1.17;
  font-size: 18px;
  margin: 0;
}
