.appointment {
  font-family: inherit;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  padding: 96px 20px 104px;
  display: grid;
  grid-template-columns: 452px 232px;
  justify-content: center;
}

.appointment--background {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.appointment__title {
  margin: 0 auto 20px;
  max-width: 40ch;
  grid-column: 1 / -1;
}

.appointment__description {
  margin: 0 auto 54px;
  grid-column: 1 / -1;
}

.appointment__input {
  border-radius: 4px 0 0 4px;
}

.appointment__submit {
  border-radius: 0 4px 4px 0;
}
