.button {
  font-family: inherit;
  font-size: 20px;
  line-height: calc(36 / 20);
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  --bg: var(--accent);
  background-color: var(--bg);
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 4px;
  border: none;

  display: inline-grid;
  place-content: center;


  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  outline-color: var(--bg);
  outline-offset: 0.2em;
  cursor: pointer;
  margin: 0;

}

.button:is(:hover, :focus-visible) {
  --bg: var(--accent-hover);
}

.button:active {
  color: hsl(0 0% 100% / 30%);
}

.button:disabled {
  color: hsl(0 0% 90%);
}

.button--secondary {
  --bg: hsl(20, 15%, 40%);
}

.button--secondary:is(:hover, :focus-visible) {
  --bg: hsl(19, 15%, 33%);
}

.button-success {
  --bg: hsl(93, 41%, 51%);
}

.button-successy:is(:hover, :focus-visible) {
  --bg: hsl(93, 41%, 44%);
}

.button--transparent {
 --bg: transparent;
 outline-color: var(--accent);
}

.button--transparent:hover {
  --bg: transparent;
}

.button--transparent:focus-visible {
  --bg: transparent;
  color: hsl(0 0% 100% / 60%);
  outline-width: 3px;
}

.button--transparent:disabled {
  --bg: transparent;
  color: hsl(0 0% 100% / 10%);
}
