.button {
  font-family: inherit;
  font-size: 20px;
  line-height: calc(36 / 20);
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  --bg: var(--accent);
  background-color: var(--bg);
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 4px;
  border: none;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  outline-color: var(--bg);
  outline-offset: 0.2em;
  cursor: pointer;
  margin: 0;

}

.button:is(:hover, :focus-visible) {
  --bg: var(--accent-hover);
}

.button:active {
  color: var(--accent-active);
}

.button--secondary {
  --bg: hsl(20, 15%, 40%);
}

.button--secondary:is(:hover, :focus-visible) {
  --bg: hsl(19, 15%, 33%);
}

.button-success {
  --bg: hsl(93, 41%, 51%);
}


.button-successy:is(:hover, :focus-visible) {
  --bg: hsl(93, 41%, 44%);
}
