.check__custom {
  display: flex;
  align-items: center;
  gap: calc(16 / 18 * 1em);
  cursor: pointer;
}

.check__custom:hover {
  opacity: 0.6;
}

.check__custom:active {
  opacity: 0.3;
}

.check__custom::before {
  content: "";
  display: block;
  font-size: calc(20 / 18 * 1em);
  width: 1em;
  height: 1em;
  border:#ffffff;
  border-radius: 4px;
}

.check__custom--radio::before {
border-radius: 50%;
background-color: #3F5E72;
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: ease-in-out;
box-shadow: inset 0 0 0 1em #ffffff;
}

.check__native:checked + .check__custom--check::before {
  background-image: url("../images/check.svg");
}

.check__native:checked + .check__custom--radio::before {
  box-shadow: inset 0 0 0 calc(5 / 18 * 1em) #ffffff;
}

.check__native:focus + .check__custom::before {
  outline: 3px solid var(--accent);
}

.check__native:disabled + .check__custom {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
