.date-input {
  display: grid;
  grid-template-columns: 1fr 440px;
  align-items: center;
  margin: 0 0 23px;
  gap: 4px;
}

.date-input__hint {
  grid-column: 2 / 3;
  font-size: 16px;
  line-height: calc(21 / 16);
  margin-left: 20px;
}

.date-input__hint--error {
  color: #ff5757;
}

.date-input__input {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  padding: 12px calc(20px * 3) 12px 20px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}
