.filters {
  background-color: var(--accent);
  background-image: url("../images/catalog.jpg");
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.filters__title {
  margin: 0;
}

.filters__breadcrumbs {
  margin: 8px 0 40px;
  font-size: 16px;
  line-height: 1.31;
}

.filters__form {
  display: grid;
  gap: 30px 70px;
  grid-template-columns: auto 1fr 288px 191px;
}

.filters__set {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: calc(23 / 18);
}

.filters__set legend {
  margin-bottom: 32px;
}

.filters__actions {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 32px;
  align-items: end;
  align-content: end;
}

.filters__actions .button {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
}


.filters__checks {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}
