.page-footer-container {
display: flex;
/* width: 1060px; */
justify-content: space-between;
align-items: center;
padding: 40px 70px 30px;
}

.footer-social-list {
list-style: none;
padding: 0;
margin: 0;
width: 142px;
height: 40px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}



.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #242424;
  font-style: normal;
  text-decoration: none;

}

.social-button {
  color: hsl(204, 48%, 67%);
  text-decoration: none;
}

.social-button:is(:hover, :focus-visible) {
  color: hsl(204, 48%, 60%);
}

.social-button:active  {
  color: hsla(204, 48%, 60%, 0.3);
}
