.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer__socials {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 47px;
  grid-auto-rows: 40px;

}

.footer__social {
  display: grid;
  height: 100%;
  place-items: center;
  color: var(--accent);
  outline-color: currentColor;
}

.footer__social:is(:hover, :focus-visible) {
  color: var(--accent-hover);
}

.footer__social:active {
  color: var(--accent-active);
}

.footer__phone {
  font-size: 40px;
  line-height: 1;
  font-style: normal;
}
