@font-face {
  font-family: "PT Sans";

  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";

  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent: hsl(204deg 48% 67%);
  --accent-hover: hsl(204 48% 60%);
  --accent-active: hsl(204deg 48% 60% / 30%);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
