.hero {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/sedona-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 51px 20px 82px;
  position: relative;
}

.hero::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -1px;
  left: -0.5%;
  height: 58px;
  width: 101%;

  clip-path: polygon(
    0 100%,
    0 0,
    calc(250 / 1200 * 100%) calc(24 / 57 * 100%),
    calc(250 / 1200 * 100%) 0%,
    50% 100%,
    calc(100% - 250 / 1200 * 100%) 0%,
    calc(100% - 250 / 1200 * 100%) calc(100% - 24 / 57 * 100%),
    100% 0,
    100% 100%
  );
}
