.input {
  font-family: inherit;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 12px 20px;
  color: #000;
  outline-width: 3px;
  outline-color: #83b3d3;
  border: 2px solid transparent;
  font-size: 18px;
  line-height: calc(24 / 18);

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  }

.input::placeholder {
  color: hsl(0 0% 0% / 60%);
}

.input:is(:focus, :hover) {
  background-color: #e6e6e6;
}

.input:active {
  border-color: #000;
}
