.panorama {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  padding: 0;
  --bg-opacity: 100%;
  --text-l: 100%;
}


.panorama--reverse {
  grid-template-columns: 2fr 1fr;
}

.panorama__image {
  order: -1;
}
