.range-slider {
	margin: 0;
	width: 100%;
	background-image: linear-gradient(
	to right,
	rgba(#ffffff, 0.3) var(--first-val),
	#ffffff var(--first-val),
	#ffffff var(--second-val),
	rgba(#ffffff, 0.3) var(--second-val)
);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: center;
	display: flex;
	position: relative;
	z-index: 1;
	height: 20px;
}
	.range-slider__input {
	cursor: grab;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
}

.range-slider__input::-webkit-slider-runnable-track {
  background: none;
  width: 100%;
  height: 100%;
}
.range-slider__input::-moz-range-track {
  background: none;
  width: 100%;
  height: 100%;
}


.range-slider__input::-webkit-slider-thumb {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  pointer-events: auto;
  width: 20px;
  height: 20px;
  appearance: none;
}

.range-slider__input::-webkit-slider-thumb:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input::-webkit-slider-thumb:active {
outline: 2px solid #83b3d3;
box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-slider__input::-moz-range-thum {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  pointer-events: auto;
  width: 20px;
  height: 20px;
  appearance: none;
}


.range-slider__input::-moz-range-thumb:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


.range-slider__input::-moz-range-thumb:active {
	outline: 2px solid #83b3d3;
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-slider__input:last-of-type {
  position: absolute;
}

.range-slider__input:focus {
  outline: none;
}

.range-slider__input:focus::-webkit-slider-thumb {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input:focus::-moz-range-thumb {
  outline: 3px solid #83b3d3;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
	}
