.sub-heading {
font-weight: 700;
font-size: 30px;
line-height: 1.2;
text-align: center;
text-transform: uppercase;

/* color: #000000; */
}

.label {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.link {
  color: inherit;
  font-family: inherit;
  outline-color: currentColor;
  text-decoration: none;
  transition-property: outline-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  border: none;
  padding: 0;
  background-color: transparent;
}

.link:is([href], [type]) {
  cursor: pointer;
}

.link:is([href], [type]):is(:hover, :focus-visible) {
  color: hsl(20, 15%, 40%)
}

.link:is([href], [type]):active {
  color: hsl(20, 15%, 40% / 30%)
}
