@font-face {
  font-family: "PT Sans";

  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";

  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-secondary {
  color: #ffffff;
  background-color: #756157;
}

.button-success {
  background-color: #7db54f;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-header-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.sedona {
  display: block;
  margin: 0 auto;
}

.hero {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/sedona-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.info-title-advantages {
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.info-description-advantages {
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 385px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantages-item-square .advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.info-title-services {
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.info-description-services {
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.services-title {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.services-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.services-item-food {
  width: 400px;
  background-color: #ffffff;
  color: #000000;
}

.info-hotel {
  color: #000000;
  background-color: #ffffff;
}
.info-title-hotel {
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.info-description-hotel {
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.appointment {
  font-family: inherit;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
}

.appointment-background {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe.jpg");
}

.appointment-form {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  max-width: 150px;
  margin-right: 42px;
}

.page-footer-logo {
  max-width: 120px;
  margin-left: 42px;
}

.contacts-phone {
  max-width: 720px;
  margin-left: 42px;
  margin-right: 42px;
}

.social-button {
  width: 48px;
  height: 40px;
  background: #83B3D3;
}

.catalog-header {
  background-image: url("../images/catalog.jpg");
  background-size: cover;
}

.catalog-filter-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.catalog-right-column {
  width: 1060px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #242424;
  font-style: normal;
  text-decoration: none;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

.product-card-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.breadcrumbs-link-hotel {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.catalog-filter-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.rating {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #f2f2f2;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: #000000;
}

.pagination-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
}
